#widgetWindow
{
  background-color:orange;
	padding: 2px;
	border: 2px solid black;
	width: 920px;
	height: 465px;
}

#calendar
{
	float: left;
}

#calendarHeader
{
	height: 80px;
	width: 714px;
	background-color:teal;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-align: center;
}
.arrowButton
{
	width: 5%;
	height: 50%;
	display:inline-block;
}
#headerInfo
{
	width: 100px;
	margin: 0px;
	display:inline-block;
}

#dayOfWeekDisplay
{
	display: inline-block;
}
.dayDisplay
{
	width:102px;
	float: left;
	color: silver;
	text-align: center;
}

#calendarDisplay
{
	width: 714px;
}
.thisMonthDate
{
	border: 1px solid black;
	width: 100px;
	height: 75px;
	background-color: white;
	float:left;
	font-size: 15px;
	font-family: arial;
	
}
.otherMonthDate
{
	border: 1px solid black;
	width: 100px;
	height: 75px;
	background-color: #F0F0F5;
	float: left;
	font-size: 15px;
	font-family:arial;
}

#interactionWindow
{
	width:200px;
	height:463px;
	background-color: teal;
	border: 1px solid silver;
	border-radius: 5px;
	margin-left: 4px;
	float: left;
}

#interactionText
{
	text-align: center;
 	font-size: 20px;
}
#dateView
{
	width:190px;
	height:300px;
	overflow: auto;
	background-color: white;
	border: 1px solid black;
 	 margin:auto;
}
#appointmentForm
{
	position:absolute;
 	top:70px;
	text-align:center;
}
#appointmentWindow
{
	position: relative;
	left: 180px;
	top: 100px;
	background-color: orange;
	border:2px solid black;
	width:300px;
	height:200px;
	display:none;
}